.taskbar{
    height:70px;
    width:1800px;
    background-color:rgb(192, 224, 62);
    display:flex;
    
    
}
*{
    margin:0;
    padding: 0;

}
#heading{
    text-transform: capitalize;
    height: 80px;
    width:220px;
    display: flex;
    justify-content:center;
    text-align: center;
    display:flex;
    
}
#headingt{
    text-decoration-style: double;
    margin-top: 11px;
    margin-left: 10px;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
}
#m{
    color: white;
    font-size: 20px;
}
#m1{
    text-transform: lowercase;
    font-style: italic;
}
.tbtn{
    
    height: 40px;
    display: flex;
    width:1100px;
    margin-left: 80px;
    margin-top: 10px;
}
#btn1{
    margin-top:10px;
    margin-left:18px;
   
}
#btn2{
    margin-top:10px;
    margin-left:18px;
    text-decoration-color: blueviolet;
    
}

.btn3{
    padding-top: 1px;
    width: 600px;
    display: flex;
    /* background-color: aquamarine; */
    height: 40px;
    padding-left: 10px;}
    /* border-color: rgb(192, 224, 62);
} */

#subutt1{
   
    padding-left: 15px;
    width:60px;
    background-color: transparent;
    cursor:pointer;
    border: None;
    
}
#subutt2{
    
    padding-left: 15px;
    background-color: transparent;
    cursor:pointer;
    border: None;
}
#subutt3{
    background-color: transparent;
    padding-left: 15px;
    background-color: transparent;
    cursor:pointer;
    border: None;
}
#subutt4{
    background-color:transparent;
    padding-left: 15px;
     background-color: transparent;
    cursor:pointer;
    border: None;
}
#subutt5{
    background-color: transparent;
    padding-left: 15px;
    padding-top:11px;
    background-color: transparent;
    cursor:pointer;
    border: None;
}
#subutt6{
    
    padding-left: 10px;
     background-color: transparent;
    cursor:pointer;
    border: None;
}
#fruits{
    background-color:rgb(192, 224, 62);
    height: 25px;
    width:150px;
    border-color: rgb(192, 224, 62);
    cursor: pointer;
    width: 80px;
     
    
    
}
.main{
    background-color: transparent;
    border-radius: 2%;
    width:700px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 100px;
    margin-top:30px;
}
.p1{
    margin-top: 20px;
}
#hb{
    margin-top: 20px;
    background-color:skyblue;
    border-radius: 10%;
    margin-bottom:10px;
    
}
.bpage{
    background-color: black;
    height: 300px;
    width:100%;
    display: flex;
}
.about{
    height: 120px;
    width: auto;
    /* background-color: red; */
     margin-left: 400px; 
    padding-top: 50px;
    /* padding-left: 470px; */


}
#abtext{
    color: aliceblue;
}
#link{
    background-color: greenyellow;
    height: 20px;
    border-radius:10%;
    cursor: progress;
    border-color: None;
}
img {
  width: 1200px; /* Sets the width */
  height: auto; /* Maintains the aspect ratio automatically */
  /* Or you can use max-width for responsive design */
  max-width: 100%;
  padding-left: 20px;
}
